$primary: #428bca;
$primary-dark: #3276b1;
$success: #5cb85c;
$warning: #f0ad4e;
$danger: #d9534f;
$info: #5bc0de;

$hud-green:#19a887;
$hud-purple:#919cce;
$hud-blue:#1674b6;
$hud-dark-blue:#0c4063;

$light-gray:#ebebeb;